body {
    background-color: whitesmoke;
    text-align: center;    
}

table {
    margin: 30px auto;
    height: 200px;
    width: 200px;
    border: 1px solid lightslategrey;
}

table td {
    border: 1px solid black;
}

button {
    height: 50px;
    width: 100px;
    color: darkblue;
    background-color: lightslategrey;
    border-radius: 10px;
    font-weight: bolder;
}

.tdgeneral{
    background-color: lightgray;
}

.tdselected {
    background-color: darkgray;
}

.start-btn {
    margin-top: 20px;
    height: 50px;
    width: 50px;
}

h1 {
    color: rgb(98, 98, 98);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h3 {
    display: inline-block;
}

#timer {
    margin-right: 20px;
}
#minesCount {
    margin-left: 20px;
}
